<%= render 'customers/order_confirmation' %>

<p>Please click <%= link_to "here", root_url %> to continue shopping with us!</p>

<p>We hope you have a fantastic day!"</p>

<h4>The Thundercats Team</h4>